/* Import Font */


@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Body */

body {

    font-family: "Roboto", Arial, Verdana, sans-serif;
    padding-top: 80px;

}

/* Navbar Styles */


.navbar {
    
    margin-bottom: 0;
    border: 0;
    width: 100%;
    
}

/* Special Padding/Margins/Text */

h1, h2, h3, h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", Arial, Verdana, sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.section-heading {
    font-family: "Exo", Arial, Verdana, sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/* Download PDF Styles */

.download-pdf {
    color: green;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

.download-pdf i:hover {
    color: purple;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* Links */
a {
    color: green;
    text-decoration: none;
    margin-left: 10px
}

a:hover {
    color: purple;
    text-decoration: none;
    margin-left: 10px;
}




/* Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}



.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
}

.social-links li a i:hover {
    background: #e84610;
    
}



/* Welcome */

.welcome-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
    padding: 8px;
}

.contents-item {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    font-weight: 400;
}

/* News */

.news-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
    padding: 6px;
}

.news-description {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    font-weight: 400;
}

/* Audio */
.audio-description {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    font-weight: 400;
}




/* Table Styles */

th {
    background-color: lightblue;
}


/* Gallery */
div .desc {
    padding: 15px;
    text-align: center;
}

div .gallery {
    border: 1px solid #676767;
}

div .gallery:hover {
    border: 1px solid #e84610;
}

div .gallery img {
    height: auto;
    width: 100%;
}

hr {
    border: 1px solid black;
}

img {
    display: block;
    margin: auto;
}

.responsive {
    padding: 4px 10px;
    float: left;
    width: 20%;
}

.img-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Media Queries */

@media only screen and (min-width: 501px) and (max-width: 700px) {
    .responsive {
        width: 50%;
        margin: 6px 0px;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
   