/* Import Font */


@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Body */

body {

    font-family: "Roboto", Arial, Verdana, sans-serif;
    height: 100%;

}

/* Navbar Styles */

.navbar-header {

    background-color: lightgreen;

    padding: 10px;

}


.navbar-nav {

    background-color: lightyellow;

    padding: 10px;

}




/* Special Padding/Margins/Text */

h1, h2, h3, h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", Arial, Verdana, sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-heading {
    font-family: "Exo", Arial, Verdana, sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}



/* Footer */
footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

footer .events-pdf {
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

footer .events-pdf i:hover {
    color: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
}

.social-links li a i:hover {
    background: #e84610;
    
}

#footer-details {
    margin: 20px;
}



/* Welcome */

.welcome-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
    padding: 8px;
}

.contents-item {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    font-weight: 400;
}

/* News */

.news-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
    padding: 6px;
}

.news-description {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    font-weight: 400;
    color: #fafafa;
}

/* Audio */
.audio-description {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    font-weight: 400;
    color: #ffffff;
}




/* Table */
thead {
    background-color: #3498db;
    font-family: "Roboto", Arial, Verdana, sans-serif;
    font-weight: 700;
    padding: 6px 4px 5px 3px;
    text-align: left;
}

td {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    font-weight: 400;
    padding: 6px 4px 5px 3px;
}


/* Gallery */
div .desc {
    padding: 15px;
    text-align: center;
}

div .gallery {
    border: 1px solid #676767;
}

div .gallery:hover {
    border: 1px solid #e84610;
}

div .gallery img {
    height: auto;
    width: 100%;
}

hr {
    border: 1px solid black;
}

img {
    display: block;
    margin: auto;
}

.responsive {
    padding: 4px 10px;
    float: left;
    width: 20%;
}

.img-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Media Queries */

@media only screen and (min-width: 501px) and (max-width: 700px) {
    .responsive {
        width: 50%;
        margin: 6px 0px;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
   